<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>

    <form action="https://portmanat.az/checkout" method="post">
      <input type="hidden" name="s_id" value="12147" />
      <input type="hidden" name="o_id" value="2" />
      <input type="hidden" name="method" value="account" />
      <input type="text" name="amount" value="1" />
      <input type="submit" value="Portmanat Hesabla ödə" />
    </form>
  </body>
</html>
